@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-maroon-light: #fbfbf2;
  --color-maroon-Default: #aa0601;
  --color-maroon-dark: #650300;
  --color-gray-10:#707070;
  --color-gray-20:#DEE2E6;
}
@utility container {
  padding-inline: 12px;
  margin-inline: auto;
}
@layer base {
  html {
    font-family: "Roboto", "Noto Sans TC", system-ui, sans-serif; 
  }
}
